<form class="form">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide() ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-hint
        >Must contain numbers, Upper and Lowercase letters and symbols</mat-hint
      >
    </mat-form-field>
  </p>
  <section class="submit">
    <div class="example-button-row">
      <button mat-flat-button>Basic</button>
    </div>
  </section>
</form>
