<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer [opened]="NavBarOpen" [mode]="'side'">
    <button (click)="onPressMenuItem('login')" id="login" class="menu-item">
      <p>Login</p>
    </button>
    <button (click)="onPressMenuItem('home')" class="menu-item">
      <p>Home</p>
    </button>
    <button
      *ngIf="loggedIn == true"
      (click)="onPressMenuItem('info')"
      id="info"
      class="menu-item"
    >
      <p>Info</p>
    </button>
    <button (click)="onPressMenuItem('about')" id="about" class="menu-item">
      <p>About</p>
    </button>
    <span class="date_time">
      {{ getCalenderService().getCalenderInfo() | date : "medium" }}
    </span>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
