<!-- Table -->
<div class="table">
  <div class="heading">
    <div *ngFor="let column of columns" class="row heading">
      <div class="cell">{{ column }}</div>
    </div>
  </div>
  <div *ngFor="let row of showingData" class="row">
    <div class="cell">{{ row.position }}</div>
    <div class="cell">{{ row.name }}</div>
    <div class="cell">{{ row.weight }}</div>
    <div class="cell">{{ row.symbol }}</div>
  </div>
</div>
<!-- Pagination Section -->
<div class="paginator">
  <section>
    <mat-form-field>
      <mat-label>Items per Page:</mat-label
      ><mat-select (closed)="onPagination()" [(value)]="steps">
        <mat-option [value]="5">5</mat-option>
        <mat-option [value]="10">10</mat-option>
        <mat-option [value]="20">20</mat-option>
      </mat-select>
    </mat-form-field>
  </section>
  <section *ngIf="isPaginationActive()">
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button
            mat-mini-fab
            aria-label="Example icon button with a menu icon"
            (click)="prevPage()"
          >
            <mat-icon>arrow_backwards</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section *ngIf="isPaginationActive()">
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button
            mat-mini-fab
            aria-label="Example icon button with a menu icon"
            (click)="nextPage()"
          >
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
