.table {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
}

.row {
  display: flex;
  border-bottom: 1px solid black;
}

.heading {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cell {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
